ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 6rem));
  gap: 1rem;
}

li {
  padding: 0;
  margin: 0;
  width: 100%;
}

img {
  width: 100%;
}
